{% extends "admin/base.html.twig" %}

{% block customStylesheets %}
    <!--page level css -->
    <link type="text/css" href="{{ asset('back/vendors/tags/dist/bootstrap-tagsinput.css') }}" rel="stylesheet" />
    <link type="text/css" href="{{ asset('back/vendors/bootstrapvalidator/dist/css/bootstrapValidator.css') }}" rel="stylesheet" />
    <link type="text/css" href="{{ asset('back/css/custom_css/user_news.css') }}" rel="stylesheet" />
    <!--end of page level css-->
{% endblock %}

{% block body %}


    <!--section ends-->
    <div class="container-fluid">
        <!--main content-->
        {{ include('admin/reclamations/single.html.twig') }}
        <!--row ends-->
    </div>
    <!-- /.content -->
{% endblock %}

{% block customJs %}
    <script src="js/custom_js/news_details.js"></script>
    <script src="vendors/tags/dist/bootstrap-tagsinput.js" type="text/javascript"></script>
    <script src="vendors/bootstrapvalidator/dist/js/bootstrapValidator.js" type="text/javascript"></script>
{% endblock %}