{% extends 'admin/base.html.twig' %}

{% block title %}Add Package{% endblock %}
{% block body %}

 <aside class="right-side right-padding">
 <div class="container-fluid">
 <div class="row">
 <div class="col-lg-12">
 <!-- Basic charts strats here-->
 <div class="panel panel-primary">
 <div class="panel-heading">
  <h4 class="panel-title">
   <i class="fa fa-plus"></i> Add Package
  </h4>
  <span class="pull-right">
                                    <i class="glyphicon glyphicon-chevron-up showhide clickable"></i>

                                </span>
 </div>
 <div class="panel-body">


 {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
 {{ form_widget(form) }}

   <button type="submit" class="btn btn-success" class="pull-right">ADD PACKAGE</button>


 {{ form_end(form) }}

 </div></div></div></div></div></aside>

{% endblock %}