<footer>
    <div class="container">
        <div class="row ">
            <div class="col-md-3 col-sm-12">
                <p>
                    <img src="{{ asset('front/img/logo.png') }}" width="95" height="27" alt="Lovefit" data-retina="true">
                </p>
                <div id="social">
                    <ul>
                        <li><a href="#"><i class="icon-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="icon-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="icon-google"></i></a>
                        </li>
                        <li><a href="#"><i class="icon-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <h4>About</h4>
                <ul>
                    <li><a href="#">About us</a>
                    </li>
                    <li><a href="#">Blog</a>
                    </li>
                    <li><a href="#">Login</a>
                    </li>
                    <li><a href="#">Register</a>
                    </li>
                    <li><a href="#">Contact us</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6">
                <h4>Discover</h4>
                <ul>
                    <li><a href="#">Explore</a>
                    </li>
                    <li><a href="#">Terms and condition</a>
                    </li>
                    <li><a href="#">Privacy</a>
                    </li>
                    <li><a href="#">Cookie Policy</a>
                    </li>
                    <li><a href="#">Faq</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 hidden-sm hidden-xs">
                <img src="{{ asset("front/img/footer_img.png") }}" width="257" height="302" alt="Image" class="footer_pic">
            </div>
        </div>
        <!-- End row -->
    </div>
    <!-- End container -->
</footer>
<!-- End footer -->
<div id="copy">
    <div class="container">
        © LoveFit 2016 - All rights reserved.
    </div>
</div>
<!-- End copy -->
<div id="toTop"></div>
<!-- Back to top button -->