{% extends 'admin/base.html.twig' %}

{% block title %}{{ exercice.name }}{% endblock %}

{% block body %}
 <h1>{{ exercice.name }}</h1>
 <p>{{ exercice.price }}</p>
 <hr>
 <a href="/">Retour</a>
{% endblock %}